#main{
	background-color:#f8f8f8;
}
.book-library{
	background-color: #ffffff;
}
.book{
text-align:center;
}
.book-title{
	font-weight:900;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}
.author{
	color:#777777;
	text-align:left;
}
.Price-block{
	background-color:#2ecc71;
	height:20px;
	padding:10px;
	border-radius:6px;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}
